@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;600&display=swap');
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);

body{
    font-family: "Open sans", "Noto Sans JP", sans-serif;
    color: #5e5e5e;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15em;
    padding-right: 10em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.logo{
    font-size: 1.3em;
}

.header ul{
    display: flex;
    align-items: center;
}

.header ul li{
    margin-left: 2.5em;
}

.header ul li img{
    width: 25px;
}

/* .container{
    height: 652px;
    background-image: url(onepiece.jpg);
    background-size: contain;
} */
