*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3{
    font-size: 100%;
}

a{
    text-decoration: none;
    color: #504d4d;
}

a:hover{
    color: #c0c0c0;
}

ul{
    list-style: none;
}

input{
    border: none;
}

img{
    max-width: 100%;
    display: block;
}

button{
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 0.6em 1em;
    font-weight: 600;
    font-size: 12px;
}

button:hover{
    background-color: rgb(72, 72, 72);
}