@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;600&display=swap');
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);

.container{
    max-width: 370px;
    margin: 3em auto;
    background-color: #ffffff;
    padding: 2em 1em;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);;
}

.container h1{
    text-align: center;
    margin-bottom: 1em;
}

.container form{
    padding: 0 1.5em;
}

.form-item{
    margin-bottom: 1.2em;
}

.form-item input{
    width: 100%;
    background-color: #ffffff;
    border: none;
    border-bottom: 2px solid #e9e9e9;
    padding-bottom: 10px;
}

.form-item input:focus{
    border-bottom: 2px solid #c0c0c0;
    outline: none;
}

.button-panel{
    margin-top: 2.5em;
}

.button-panel input{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #feb350;
    color: #ffffff;
    text-align: center;
}

.button-panel input:hover{
    background-color: #ffd59f;
}

.link{
    text-align: center;
}

.select-box{
    margin-bottom: 1.2em;
}

.select-box select{
    width: 100%;
    padding: 0.5em 0.5em;
    /* border: none; */
    /* border-bottom: 2px solid #e9e9e9; */
    /* padding-bottom: 10px; */
}

.select-box select:focus{
    outline: none;
}

.top-img{
    background-image: url(onepiece.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 850px;
}

.menu-box{
    max-width: 370px;
    max-height: 311px;
    margin: 3em 1em;
    padding-bottom: 1em;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);

}

.menu-box img{
    border-radius: 5px;
}

.menu-text{
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
}

.menus{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}